*{
    margin:0;
    padding:0;
}
body{
    margin-top: 50px;
    background-color: rgb(54, 50, 50);
    color: rgb(95, 238, 183);
    font-family: 'Manrope', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Public Sans', sans-serif;
}

.container{
    width:100%;
    margin: 0 auto;
    text-align:center;
}
.player{
    display:flex;
    justify-content:center;
}
.player div{
    margin:  30px 30px;
}
img{
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
}
h1{
    font-size: 85px;
    font-weight:bold;
    margin-bottom:40px;
}
p{
    font-size: 18px;
    margin-bottom:30px;
    font-weight: bold;
}

input{
    padding: 8px 50px;
    font-size: 14px;
}
input:hover{
    color:white;
    background-color:rgb(95, 238, 183);
    
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    margin-bottom:10px;
}


@media  only screen and (max-width:700px) {
    h1{
        font-size: 25px;
    }
    p{
        font-size: 12px;
    }
    img{
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }
    input{
        padding: 5px 30px;
        font-size: 12px;
    }
    .player div{
        margin-right:  20px;
    }
}
@media  only screen and (min-width:700px) and(max-width:1200px) {
    h1{
        font-size: 32px;
    }
    p{
        font-size: 14px;
    }
    img{
        width: 90px;
        height: 90px;
        margin-bottom: 30px;
    }
    input{
        padding: 7px 40px;
        font-size: 13px;
    }
    .player div{
        margin-right:  20px;
    }
}
